<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop Toghter</title>
    <link rel="stylesheet" href="/static/index/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/static/index/css/GL.css">
    <script src="/static/index/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/index/js/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/index/js/swiper-3.4.2.min.js"></script>

</head>

<body>
<div class="top_find">
    <div class="top_find_son">
        <img src="/static/index/img/top_find_logo.png" alt="">
        <div class="input_find">
            <input type="text" placeholder="卸妆水"/>
            <span style="background: url('/static/index/img/img_12.png') 0 -1px;"></span>
            <a href="/static/#"><img src="/static/index/img/img_09.png"/></a>
        </div>
    </div>
</div>
<ul class="left_floor">
    <li class="left_floor_xiang">享品质</li>
    <li class="left_floor_fu">服饰美妆</li>
    <li class="left_floor_jia">家电手机</li>
    <li class="left_floor_dian">电脑数码</li>
    <li class="left_floor_3C">3C运动</li>
    <li class="left_floor_ai">爱吃</li>
    <li class="left_floor_mu">母婴家居</li>
    <li class="left_floor_tu">图书汽车</li>
    <li class="left_floor_you">游戏金融</li>
    <li class="left_floor_lv">旅行健康</li>
    <li class="left_floor_hai">还没逛够</li>
    <li class="left_floor_ding">顶部</li>
</ul>
<header>
    <!--头部-->
    <div class="header_head">
        <div class="header_head_box">
            <!--        <a href="/static/#" class="img"><img src="/static/index/img/logo.jpg" style="width:190px;height:170px"/></a>-->

            <ul>
                <li>
                    <a th:if="${session.loginUser != null}">Hello,
                        [[${session.loginUser==null?'':session.loginUser.nickname}]]</a>
                    <a th:if="${session.loginUser == null}" href="http://auth.mall.com/login.html">Sign in</a>
                </li>
                <li>
                    <a th:if="${session.loginUser == null}" href="http://auth.mall.com/reg.html" class="li_2">Sign
                        up</a>
                </li>
                <li>
                    <a th:if="${session.loginUser != null}" href="http://auth.mall.com/loguot.html" class="li_2">Sign
                        Out</a>
                </li>
                <span>|</span>
                <li>
                    <a href="http://member.mall.com/memberOrder.html">My Order</a>
                </li>
                <span>|</span>
                <li>
                    <a href="http://wishlist.mall.com/showPersonalWishlist">Wish List</a>
                </li>
            </ul>
        </div>
    </div>
    <!--搜索导航-->
    <div class="header_sous">
        <div class="header_form">
            <input id="searchText" type="text" placeholder=""/>
            <span style="background: url(../static/index/img/img_12.png) 0 -1px;"></span>
            <!--<button><i class="glyphicon"></i></button>-->
            <a href="javascript:search()"><img src="/static/index/img/img_09.png"/></a>
        </div>
        <div class="header_ico">
            <div class="header_gw">
                <img src="/static/index/img/img_15.png"/>
                <span><a href="http://cart.mall.com/cart.html">Basket</a></span>
            </div>
        </div>

    </div>
    <!--轮播主体内容-->
    <div class="header_main">
        <div class="header_banner">
            <div class="header_main_left">
                <ul>
                    <li th:each="category : ${categories}">
                        <a href="/static/#" class="header_main_left_a" th:attr="ctg-data = ${category.catId}"><b
                                th:text="${category.name}">家用电器</b></a>
                    </li>
                </ul>
            </div>
            <div class="header_main_center">
                <div class="swiper-container swiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/static/#"><img src="/static/index/img/lunbo.png"/></a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/static/#"><img src="/static/index/img/lunbo3.png"/></a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/static/#"><img src="/static/index/img/lunbo6.png"/></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/static/#"><img src="/static/index/img/lunbo7.png"/></a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="header_main_center_b">
                    <a href="/static/#"><img src="/static/index/img/5a13bf0bNe1606e58.jpg"/></a>
                    <a href="/static/#"><img src="/static/index/img/5a154759N5385d5d6.jpg"/></a>
                </div>
            </div>
            <div class="header_main_right">
                <div class="header_main_right_user">
                    <div class="user_info">
                        <div class="user_info_tou">
                            <a href="/static/#"><img class="" src="/static/index/img/touxiang.png"></a>
                        </div>
                        <div class="user_info_show">
                            <p class="">Welcome!</p>
                            <p>
                                <a th:href="|http://member.mall.com/account.html|" class="">Your Account</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="header_main_right_new">
                    <div class="header_new">
                        <div class="header_new_t">
                            <p class="active">
                                <a href="/static/#">Sale</a>
                            </p>
                            <p>
                                <a href="/static/#">Notice</a>
                            </p>
                            <a href="/static/#">More</a>
                        </div>
                        <div class="header_new_connter">
                            <div class="header_new_connter_1">
                                <ul>
                                    <li>
                                        <a href="/static/#">Summer Sale Extravaganza: Up to 50% Off!</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">Clearance Event: Everything Must Go!</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">Buy One, Get One Free: Limited Time Offer!</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">New Arrivals: Shop the Latest Trends Now!</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header_new_connter_1" style="display: none;">
                                <ul>
                                    <li>
                                        <a href="/static/#">New Payment Options Now Available!</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">Service Update: Share wish lists with friends!</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">Community Update: Charity Event Recap</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">Upcoming Webinar: Get the Most from Your Shopping
                                            Experience</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_main_right_ser">
                    <div class="ser_box">
                        <ul>
                            <li class="ser_box_item">
                                <a href="/static/#">
                                    <img src="/static/index/img/huafei.png"/>
                                    <span>Phone bill</span>
                                </a>
                            </li>
                            <li class="ser_box_item">
                                <a href="/static/#">
                                    <img src="/static/index/img/jipiao.png"/>
                                    <span>Airplane ticket</span>
                                </a>
                            </li>
                            <li class="ser_box_item">
                                <a href="/static/#">
                                    <img src="/static/index/img/jiudian.png"/>
                                    <span>Hotel</span>
                                </a>
                            </li>
                            <li class="ser_box_item">
                                <a href="/static/#">
                                    <img src="/static/index/img/youxi.png"/>
                                    <span>Game</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/qiyegou.png"/>
                                    <span>Tourist attraction</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/jiayouka.png"/>
                                    <span>Gas card</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/dianyingpiao.png"/>
                                    <span>Movie ticket</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/huochepiao.png" style="height:20px;"/>
                                    <span>Train ticket</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="section_second">
    <!-- 第一层 -->
    <div class="section_second_header">
        <p class="section_second_header_img"></p>
        <div class="section_second_header_left">
            <p></p>
            <span class="">Today's Deals</span>
            <!--        <span>总有你想不到的低价</span>-->
            <span>
        </span>
        </div>
        <div class="section_second_header_right">
            <p>Ends after</p>
            <span class="section_second_header_right_hours">00</span>
            <span class="section_second_header_right_mao">：</span>
            <span class="section_second_header_right_minutes">00</span>
            <span class="section_second_header_right_mao">：</span>
            <span class="section_second_header_right_second">00</span>
        </div>
    </div>
    <div class="section_second_list">
        <div class="swiper-container swiper_section_second_list_left">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul>
                        <li>
                            <img src="/static/index/img/section_second_list_img1.jpg" alt="">
                            <p>Ariel All-in-One Platinum PODS Washing Liquid Laundry Detergent Tablets / Capsules, 120
                                Washes (60 x 2) with Extra Stain Removal For Extra Hygiene</p>
                            <span>¥24.9</span><s>¥36.9</s>
                        </li>
                        <li>
                            <img src="/static/index/img/section_second_list_img2.jpg" alt="">
                            <p>Disposable Face Towel 100 Counts, Extra Thick & Soft Dry Baby Wipes for Women, Dry and
                                Wet Use Facial Cotton Tissue, Make Up Removing Thickening for Sensitive Skin 20x15cm (4
                                PACK=400Counts)</p>
                            <span>¥17.90</span><s>¥29.90</s>
                        </li>
                        <li>
                            <img src="/static/index/img/section_second_list_img3.jpg" alt="">
                            <p>Curel Trial & Travel Kit, Two Week Skincare Routine for Dry, Sensitive Skin</p>
                            <span>¥20.70</span><s>¥44.90</s>
                        </li>
                        <li>
                            <img src="/static/index/img/section_second_list_img4.jpg" alt="">
                            <p>REAL TECHNIQUES,5 Count (Pack of 1) Everyday Essentials Makeup Brush Complete Face Set
                                (Miracle Complexion Sponge, Expert Face, Blush, Setting and Deluxe Crease Brushes)</p>
                            <span>¥30.00</span><s>¥50.00</s>
                        </li>
                        <li>
                            <img src="/static/index/img/section_second_list_img5.jpg" alt="">
                            <p>Under Armour Unisex UA Heatgear NS, trainer socks; compression socks</p>
                            <span>¥40.00</span><s>¥50.00</s>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="swiper-button-prev second_list">
                <p></p>
            </div>
            <div class="swiper-button-next second_list">
                <p></p>
            </div>
        </div>
        <ul class="section_second_list_right">
            <li>
                <img src="/static/index/img/section_second_list_right_img.jpg" alt="">
            </li>
            <li>
                <img src="/static/index/img/section_second_list_right_img.png" alt="">
            </li>
            <div class="section_second_list_right_button">
                <p class="section_second_list_right_button_active"></p>
                <p></p>
            </div>
        </ul>
    </div>


</div>


</body>
<script type="text/javascript">
    function search() {
        var keyword = $("#searchText").val()
        window.location.href = "http://search.mall.com/list.html?keyword=" + keyword;
    }

</script>
<script type="text/javascript" src="/static/index/js/text.js"></script>
<script type="text/javascript" src="/static/index/js/header.js"></script>
<script type="text/javascript" src="/static/index/js/secend.js"></script>
<script type="text/javascript" src="/static/index/js/zz.js"></script>
<script type="text/javascript" src="/static/index/js/index.js"></script>
<script type="text/javascript" src="/static/index/js/left,top.js"></script>
<script type="text/javascript" src="/static/index/js/catalogLoader.js"></script>
</html>
