<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/item/scss/shop.css" />
		<link rel="stylesheet" type="text/css" href="/static/item/scss/jd.css"/>
		<link rel="stylesheet" href="/static/item/scss/header.css" />
		<link rel="stylesheet" type="text/css" href="/static/item/bootstrap/css/bootstrap.css"/>

		<style>
			/* 弹窗样式 */
			#wishlistPopup {
				display: none;
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: white;
				padding: 20px;
				border: 1px solid #ccc;
			}
		</style>
	</head>
	<body>
		<div id="max">
		<header>
			<!--品牌官方网站-->
					<div class="min">
						<ul class="header_ul_left">

						</ul>
						<ul class="header_ul_right">
							<li class="glyphicon glyphicon-home"> <a href="http://mall.com" class="aa">Home</a></li>
							<li><a href="/static/item/javascript:;" class="aa">My Order</a></li>
							<li style="border: 0;">
								<a th:if="${session.loginUser == null}" href="http://auth.mall.com/login.html"
								   class="aa">Sign in</a>
								<a th:if="${session.loginUser != null}">Hello, [[${session.loginUser.nickname}]]</a>
							</li>
							<li>
								<a th:if="${session.loginUser == null}" href="http://auth.mall.com/reg.html"
								   style="color: red;">Register</a>
							</li>
						</ul>
					</div>
				</header>
				<nav>
				<div class="nav_min">
					<div class="nav_top">
						<div class="nav_top_two"><input type="text"/><button>Search</button></div>
						<div class="nav_top_three"><a href="http://cart.mall.com/cart.html">My Basket</a><span class="glyphicon glyphicon-shopping-cart"></span></div>
					</div>

				</div>
			</nav>

				</div>


			<div class="crumb-wrap">
			<div class="w">
				<div class="crumb">
					<div class="crumb-item">
						<a href="/static/item/">Phone</a>
					</div>
					<div class="crumb-item sep">></div>
					<div class="crumb-item">
						<a href="/static/item/">Mobile Communication</a>
					</div>
					<div class="crumb-item sep">></div>
					<div class="crumb-item">
						<a href="/static/item/">Mobile Phone</a>
					</div>
					<div class="crumb-item sep">></div>
					<div class="crumb-item">
						<div class="crumb-item-one">
							华为 (HUAWEI)
							<img src="/static/item/img/4a79b87a68623d4e8a73aff3e25fa99b.png" alt="" class="img" />
							<div class="crumb-item-two ">
								<div class="crumb-item-con clear">
									<ul class="con-ul">
										<li>
											<img src="/static/item/img/5825a5a6Nde8ecb75.jpg" alt="" />
										</li>
										<li>
											<p>
												荣耀8青春版 全网通标配 3GB+32GB 幻海蓝
											</p>
											<p>
												￥1099.00
											</p>
										</li>
									</ul>
									<ul class="con-ul">
										<li>
											<img src="/static/item/img/5919637aN271a1301.jpg" alt="" />
										</li>
										<li>
											<p>
												荣耀8青春版 全网通标配 3GB+32GB 幻海蓝
											</p>
											<p>
												￥1099.00
											</p>
										</li>
									</ul>
									<ul class="con-ul">
										<li>
											<img src="/static/item/img/599a806bN9d829c1c.jpg" alt="" />
										</li>
										<li>
											<p>
												荣耀8青春版 全网通标配 3GB+32GB 幻海蓝
											</p>
											<p>
												￥1099.00
											</p>
										</li>
									</ul>
								</div>
								<div class="crumb-item-cons clear">
									<ul>
										<li>华为(huawei)</li>
										<li>小米(xiaomi)</li>
										<li>APPle</li>
										<li>魅族(meizu)</li>
										<li>锤子</li>

									</ul>
									<ul>
										<li>三星</li>
										<li>vivo</li>
										<li>飞利浦</li>
										<li>360</li>
										<li>更多>></li>

									</ul>
								</div>
							</div>

						</div>

					</div>
					<div class="crumb-item sep">></div>
					<div class="crumb-item" th:text="${item.info.getSkuName()}">
						华为Mate 10
					</div>
				</div>

			</div>
		</div>
<div class="Shop">
		<div class="box">
			<div class="box-one ">
				<div class="boxx">
					<div class="imgbox">
						<div class="probox">
							<img class="img1" alt="" th:src="${item.info.skuDefaultImg}">
							<div class="hoverbox"></div>
						</div>
						<div class="showbox">
							<img class="img1" alt="" th:src="${item.info.skuDefaultImg}">
						</div>
					</div>
					<div class="box-lh">
						<div class="box-lh-one">
							<ul>
								<li th:each="img : ${item.images}" th:if="${!#strings.isEmpty(img.imgUrl)}"><img th:src="${img.imgUrl}"/></li>
							</ul>
						</div>
						<div id="left">
							< </div>
								<div id="right">
									>
								</div>
						</div>

					</div>
					<div class="box-two">
						<div class="box-name" th:text="${item.info.skuTitle}">
							华为 HUAWEI Mate 10 6GB+128GB 亮黑色 移动联通电信4G手机 双卡双待
						</div>
						<div class="box-hide" th:text="${item.info.skuSubtitle}">预订用户预计11月30日左右陆续发货！麒麟970芯片！AI智能拍照！
							<a href="/static/item/"><u></u></a>
						</div>

						<div class="box-summary clear">
							<ul>
								<li>Price</li>
								<li>
									<span>￥</span>
									<span th:text="${#numbers.formatDecimal(item.info.price,3,2)}">4499.00</span>
								</li>
								<li>

								</li>
								<li>
									<a href="/static/item/">

									</a>
								</li>
							</ul>
						</div>
						<div class="box-stock">
							<ul class="box-ul">
								<li>Ship to</li>
								<li class="box-stock-li">
									<div class="box-stock-one">
										London
										<img src="/static/item/img/4a79b87a68623d4e8a73aff3e25fa99b.png" alt="" class="img" />
									</div>
									<div class="box-stock-two">
										<dl>
											<dt>
												<a>New address</a>
												<img src="/static/item/img/4a79b87a68623d4e8a73aff3e25fa99b.png" alt="" class="box-stock-two-img"/>
											</dt>
											<dd>
												<div class="box-stock-dd">
													<div class="box-stock-top">
<!--														<div class="box-stock-div">Birmingham</div>-->
														<div class="box-stock-div">Birmingham</div>
														<div class="box-stock-div">Edinburgh</div>
													</div>
												</div>
											</dd>
										</dl>

									</div>

								</li>
								<li>
									<span th:text="${item.hasStock?'On stock':'Out of stock'}">无货</span>
								</li>
							</ul>
						</div>
						<div class="box-attr-3">
							<div class="box-attr clear" th:each="attr : ${item.saleAttr}">
								<dl>
									<dt>selsct[[${attr.attrName}]]</dt>
									<dd th:each="val : ${attr.attrValues}">
										<a th:attr=" class=${#lists.contains(#strings.listSplit(val.skuIds,','),item.info.skuId.toString())
                                   ? 'sku_attr_value checked': 'sku_attr_value'}, skus=${val.skuIds} "
										>
											[[${val.attrValue}]]
										</a>
									</dd>
								</dl>
							</div>
						</div>

						<div class="box-btns clear">
							<div class="box-btns-one">
								<input type="text" name="" id="productNum" value="1"/>
								<div class="box-btns-one1">
									<div>
										<button id="jia">
											+
										</button>
									</div>
									<div>
										<button id="jian">
											-
										</button>
									</div>
								</div>
							</div>
							<div class="box-btns-two">
								<a class="addToCart" href="#" th:attr="skuId=${item.info.skuId}">
									Add to Basket
								</a>
							</div>
<!--							点击加入心愿单，出现心愿单选项弹窗-->
							<div class="box-btns-three">
								<a th:href="|http://wishlist.mall.com/getAllWishlists/${item.info.getSkuId()}|">Add to Wishlist</a>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="ShopXiangqing">
				<div class="allLeft">
					<!--火热预约-->
					<div class="huoreyuyue">
						<h3>Advertisement</h3>
					</div>
					<div class="dangeshopxingqing">
						<ul class="shopdange">
							<li>
								<a href="/static/item/##"><img src="/static/item/img/5a0afeddNb34732af.jpg" /></a>
								<p>
									<a href="/static/item/##">OPPO Find X3 Lite 5G - 8GB RAM and 128GB Storage SIM Free Smartphone (6.4 inch, 64MP Quad Camera, Dual SIM) - Black</a>
								</p>
								<p><strong class="J-p-20015341974">￥1800</strong></p>
							</li>
							<li>
								<a href="/static/item/##"><img src="/static/item/img/5a12873eN41754123.jpg" /></a>
								<p>
									<a target="_blank" title="Shark Cordless Stick Vacuum Cleaner [IZ300UK] Anti Hair Wrap, PowerFins, Single Battery, Black & Copper" href="/static/item///item.jd.com/20348283521.html">Shark Cordless Stick Vacuum Cleaner [IZ300UK] Anti Hair Wrap, PowerFins, Single Battery, Black & Copper</a>
								</p>
								<p><strong class="J-p-20348283521">￥2689.00</strong></p>
							</li>
							<li>
								<a href="/static/item/##"><img src="/static/item/img/59ec0131Nf239df75.jpg" /></a>
								<p>
									<a target="_blank" title="Apple iPhone 14 Pro Max (128 GB) - Space Black" href="/static/item///item.jd.com/16683419775.html">Apple iPhone 14 Pro Max (128 GB) - Space Black</a>
								</p>
								<p><strong class="J-p-16683419775">￥9499.00</strong></p>
							</li>
							<li>
								<a href="/static/item/##"><img src="/static/item/img/59015444N27317512.jpg" /></a>
								<p>
									<a target="_blank" title="Apple Watch SE (2nd generation) (GPS, 40mm) Smart watch - Starlight Aluminium Case with Starlight Sport Band - Regular. Fitness & Sleep Tracker, Crash Detection, Heart Rate Monitor, Water Resistant" href="/static/item///item.jd.com/12187770381.html">Apple Watch SE (2nd generation) (GPS, 40mm) Smart watch - Starlight Aluminium Case with Starlight Sport Band - Regular. Fitness & Sleep Tracker, Crash Detection, Heart Rate Monitor, Water Resistant</a>
								</p>
								<p><strong class="J-p-12187770381">￥2229.00</strong></p>
							</li>
						</ul>
					</div>
					<div class="dangeshopxingqing">
						<ul class="shopdange">
							<li>
								<a href="/static/item/##"><img src="/static/item/img/59e55e01N369f98f2.jpg" /></a>
								<p>
									<a target="_blank" title="Introducing Echo Pop | Full sound compact Wi-Fi and Bluetooth smart speaker with Alexa | Glacier White" href="/static/item///item.jd.com/17931625443.html">Introducing Echo Pop | Full sound compact Wi-Fi and Bluetooth smart speaker with Alexa | Glacier White</a>
									<p><strong class="J-p-17931625443">￥399.00</strong></p>
							</li>
							<li>
								<a href="/static/item/##"><img src="/static/item/img/584fcc3eNdb0ab94c.jpg" /></a>
								<p>
									<a target="_blank" title="Apple AirPods Pro, (2nd generation) Wireless, White" href="/static/item///item.jd.com/3749093.html">Apple AirPods Pro, (2nd generation), Wireless, White</a>
								</p>
								<p><strong class="J-p-3749093">￥2099.00</strong></p>
							</li>
							<li>
								<!--shopjieshao-->
								<a href="/static/item/##"><img src="/static/item/img/59eb0df9Nd66d7585.jpg" /></a>
								<p>
									<a target="_blank" title="Introducing Amazon Fire Max 11 tablet, our most powerful tablet yet, vivid 11 display, octa-core processor, 4 GB RAM, 14-hr battery life, 64 GB, Grey, with Ads" href="/static/item///item.jd.com/12306211773.html">Introducing Amazon Fire Max 11 tablet, our most powerful tablet yet, vivid 11" display, octa-core processor, 4 GB RAM, 14-hr battery life, 64 GB, Grey, with Ads</a>
								</p>
								<p><strong class="J-p-12306211773">￥4999.00</strong></p>
							</li>
							<li>
								<a href="/static/item/##"><img src="/static/item/img/5a002ba3N126c2f73.jpg" /></a>
								<p>
									<a target="_blank" title="Noorio B200 Security Camera Wireless Outdoor, 1080p Home Security Camera, Wire-Free Battery Powered WiFi Camera, Color Night Vision, AI Motion Detection, Work with Alexa, Set up in Minutes" href="/static/item///item.jd.com/12187770381.html">Noorio B200 Security Camera Wireless Outdoor, 1080p Home Security Camera, Wire-Free Battery Powered WiFi Camera, Color Night Vision, AI Motion Detection, Work with Alexa, Set up in Minutes</a>
								</p>
								<p><strong class="J-p-12187770381">￥899.00</strong></p>
							</li>
						</ul>
					</div>
				</div>
				<!--商品介绍-->
				<div class="allquanbushop">
					<ul class="shopjieshao">
						<li class="jieshoa" style="background: #e4393c;">
							<a style="color: white;">Product introduction</a>
						</li>
						<li class="baozhuang">
<!--							<a href="/static/item/##">规格与包装</a>-->
							<a>Technical details</a>
						</li>
						<li class="pingjia">
							<a href="/static/item/##">Comments</a>
						</li>
					</ul>
					<ul class="shopjieshaos posi" style="display: none;">
						<li class="jieshoa" style="background: #e4393c;">
							<a href="/static/item/#li1" style="color: white;">Product introduction</a>
						</li>
						<li class="baozhuang">
							<a href="/static/item/#li2">Technical details</a>
						</li>
						<li class="pingjia">
							<a href="/static/item/#li4">Comments</a>
						</li>
					</ul>

					<!--商品详情-->
					<div class="huawei">
						<ul class="xuanxiangka">
							<li class="jieshoa actives" id="li1">
								<div class="shanpinsssss">
									<img class="xiaoguo" th:src="${descp}"
										 th:each="descp : ${#strings.listSplit(item.desc.decript,',')}"/>
								</div>
							</li>
							<li class="baozhuang actives" id="li2">
								<div class="guiGebox">
									<div class="guiGe" th:each="group : ${item.groupAttrs}">
										<h3 th:text="${group.groupName}">主体</h3>
										<dl>
											<div th:each="attr : ${group.attrs}">
												<dt th:text="${attr.attrName}">Brand</dt>
												<dd th:text="${attr.attrValue}">华为(HUAWEI)</dd>
											</div>
										</dl>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script src="/static/item/js/jquery1.9.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/item/js/js.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript"></script>

	<script>
		$(".sku_attr_value").click(function () {
			// 1、点击的元素添加上自定义的属性
			let skus = new Array();
			let curr = $(this).attr("skus").split(",");

			$(this).parent().parent().find(".sku_attr_value").removeClass("checked");
			$(this).addClass("checked");
			changeCheckedStyle();

			$("a[class='sku_attr_value checked']").each(function () {
				skus.push($(this).attr("skus").split(","));
			});

			let filterEle = skus[0];
			for (let i = 1; i < skus.length; i++) {
				filterEle = $(filterEle).filter(skus[i])[0];
			}

			location.href = "http://item.mall.com/" + filterEle + ".html";

			return false;
		});
		$(function () {
			changeCheckedStyle();
		});

		function changeCheckedStyle() {
			$(".sku_attr_value").parent().css({"border": "solid 1px #ccc"});
			$("a[class='sku_attr_value checked']").parent().css({"border": "solid 1px red"});
		};

		$(".addToCart").click(function () {
			let skuId = $(this).attr("skuId");
			let num = $("#productNum").val();
			location.href = "http://cart.mall.com/addCartItem?skuId=" + skuId + "&num=" + num;
			return false;
		});
	</script>

</html>
