<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Order</title>
  <link rel="stylesheet" href="/static/member/css/index.css">
  <style media="screen">
    * {
      font-family: "微软雅黑";
    }
  </style>
</head>

<body>
  <div id="nav">
    <nav>
     
      <div class="myjd">
        <h3>SHOP TOGHTER</h3>
        <button onclick="location.href='http://mall.com'">Home</button>
      </div>
      <div class="right">
        <div class="btn">
          <input type="text"><button>Search</button>
        </div>
        <ul class="shop">
          <li><a class="shop_che" href="http://cart.mall.com/cart.html"></a>My Basket >
          </li>
        </ul>
      </div>
      <div style="clear:both;"></div>
    </nav>

  </div>
  <div style="clear:both;"></div>
  <div id="big">
    <div id="bigLeft">
      <ul>
        <h5>Order Center</h5>
        <li style="color:#E4393C;font-weight:800;">My Order</li>
      </ul>
    </div>
    <div id="bigRight">
      <div class="myOrder">
        <p>My Order</p>
      </div>


      <div class="allBig">
        <div class="allOrder">
          <ul class="allOrderTop">
            <li>
              <ol>
                <li>All orders</li>
                <div style="clear:both;"></div>
              </ol>
            </li>
            <div class="clear:both;"></div>
          </ul>

        </div>
        <div class="details">
          <ul class="detailsUl">
            <div class="detailsUlDiv">
              <li class="detailsLi">Order Detail</li>
              <div style="clear:both;"></div>
            </div>

            <li class="detailsLi1">Receiver</li>
            <li class="detailsLi1">Amount</li>
            <li class="detailsLi1 detailsLiok">Status<i class="allBig_i"></i>
              <ol>
                <li>Status</li>
                <li>Ready to pay</li>
                <li>Waiting ship</li>
                <li>Completed</li>
                <li>Cancelled</li>
              </ol>
            </li>
            <li class="detailsLi1">操作</li>
            <div style="clear:both;"></div>
          </ul>
        </div>

        <table class="table" th:each="order:${orders.page.list}">
          <tr>
            <td colspan="7" style="background:#F7F7F7" >
              <span style="color:#AAAAAA">[[${order.createTime}]]</span>
              <span><ruby style="color:#AAAAAA">Order Number:</ruby> [[${order.orderSn}]]</span>
              <i class="table_i5 isShow"></i>
            </td>
          </tr>
          <tr class="tr" th:each="orderItem,itemStat:${order.orderItemEntityList}">
            <td colspan="3" style="border-right: 1px solid #ccc">
              <img style="height: 60px; width: 60px;" th:src="${orderItem.skuPic}" alt="" class="img">
              <div>
                <p style="width: 242px; height: auto;overflow: auto">
                  [[${orderItem.skuName}]]
                </p>
              </div>
              <div style="margin-left:15px;">x[[${orderItem.skuQuantity}]]</div>
              <div style="clear:both"></div>
            </td>
            <td th:if="${itemStat.index==0}" th:rowspan="${itemStat.size}">[[${order.receiverName}]]<i><i class="table_i1"></i></i></td>
            <td th:if="${itemStat.index==0}" th:rowspan="${itemStat.size}"style="padding-left:10px;color:#AAAAB1;">
              <p style="margin-bottom:5px;">￥[[${#numbers.formatDecimal(order.payAmount,3,2)}]]</p>
              <hr style="width:90%;">
            </td>
            <td th:if="${itemStat.index==0}" th:rowspan="${itemStat.size}">
              <ul>
                <li style="color:#71B247;" th:if="${order.status==0}">Pending</li>
                <li style="color:#71B247;" th:if="${order.status==1}">Paid</li>
                <li style="color:#71B247;" th:if="${order.status==2}">Shipped</li>
                <li style="color:#71B247;" th:if="${order.status==3}">Completed</li>
                <li style="color:#71B247;" th:if="${order.status==4}">Cancelled</li>
                <li style="color:#71B247;" th:if="${order.status==5}">In-progress</li>
                <li style="color:#71B247;" th:if="${order.status==6}">Resolved</li>
                <li style="margin:4px 0;" class="hide"><i class="table_i2"></i>Track<i class="table_i3"></i>
                    <div class="hi">
                      <div class="p-tit">
                        Normal delivery
                      </div>
                      <div class="hideList">
                        <ul>
                          <li>
                            Pending
                          </li>
                        </ul>
                      </div>
                    </div>
                </li>
              </ul>
            </td>
            <td th:if="${itemStat.index==0}" th:rowspan="${itemStat.size}">
              <button>Confirm</button>
              <p style="margin:4px 0; ">Cancel</p>
            </td>
          </tr>
        </table>

        <div class="order_btm">
          <div>
            <button>Last</button>
            <span>1</span>
            <button>Next</button>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
</body>
<script src="/static/member/js/jquery-3.1.1.min.js"></script>
<script src="/static/member/js/index.js"></script>

</html>
